# Task: To predict hotel cancellations using a Keras-based neural network.

## Original hotel booking demand datasets by authors Nuno Antonio, Ana de Almeida, and Luis Nunes available at:

### https://www.sciencedirect.com/science/article/pii/S2352340918315191

# What is Feature Selection?

## Feature Selection is a process of selecting the features (or independent variables) that are hypothesised to have the greatest influence on hotel cancellations.

## Import Libraries

In [1]:
import os
import csv
import random
import statsmodels.api as sm
import statsmodels.formula.api as smf
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.preprocessing import MinMaxScaler
import os;

## Import training dataset H1 and sort by year and week number.

In [2]:
train_df = pd.read_csv('H1.csv')
a=train_df.head()
b=train_df
b
b.sort_values(['ArrivalDateYear','ArrivalDateWeekNumber'], ascending=True)

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate
73,1,152,2015,July,27,2,4,10,2,0,...,No Deposit,243,NULL,0,Contract,67.58,0,0,Canceled,2015-04-03
272,0,45,2015,July,27,2,2,3,2,0,...,No Deposit,8,NULL,0,Contract,79.50,0,0,Check-Out,2015-07-07
303,0,1,2015,July,27,2,0,1,2,0,...,No Deposit,240,NULL,0,Transient,147.00,1,0,Check-Out,2015-07-03
339,0,130,2015,July,27,4,2,6,2,0,...,No Deposit,196,NULL,0,Transient,96.95,1,1,Check-Out,2015-07-12
430,0,37,2015,July,27,1,1,4,1,0,...,No Deposit,241,NULL,0,Transient,97.29,0,1,Check-Out,2015-07-06
529,0,98,2015,July,27,4,2,1,2,0,...,No Deposit,8,NULL,0,Transient,71.55,1,0,Check-Out,2015-07-07
756,0,150,2015,July,27,2,2,4,2,0,...,No Deposit,156,NULL,0,Contract,55.68,0,0,Check-Out,2015-07-08
874,0,157,2015,July,27,4,4,6,2,0,...,No Deposit,156,NULL,0,Contract,55.68,0,0,Check-Out,2015-07-14
1182,0,1,2015,July,27,1,0,1,1,0,...,No Deposit,NULL,270,0,Transient,134.00,0,0,Check-Out,2015-07-02
1279,1,26,2015,July,27,4,2,5,2,2,...,No Deposit,240,NULL,0,Transient,163.00,0,0,Canceled,2015-06-09
1701,1,122,2015,July,27,2,1,3,2,0,...,No Deposit,240,NULL,0,Transient,110.70,0,1,Canceled,2015-03-11
2605,0,10,2015,July,27,3,0,2,2,2,...,No Deposit,240,NULL,0,Transient,153.00,1,0,Check-Out,2015-07-05
2741,0,3,2015,July,27,2,0,1,2,0,...,No Deposit,240,NULL,0,Transient,88.20,1,0,Check-Out,2015-07-03
2841,0,4,2015,July,27,4,2,1,2,0,...,No Deposit,250,NULL,0,Transient,92.67,0,1,Check-Out,2015-07-07
2899,0,92,2015,July,27,4,4,6,2,0,...,No Deposit,40,NULL,0,Contract,71.55,0,1,Check-Out,2015-07-14
2963,1,129,2015,July,27,4,4,6,2,0,...,No Deposit,240,NULL,0,Transient,141.00,0,1,Canceled,2015-03-03
3114,1,85,2015,July,27,1,0,3,2,0,...,No Deposit,240,NULL,0,Transient,82.00,0,1,Canceled,2015-05-06
3284,1,63,2015,July,27,3,2,5,2,0,...,No Deposit,242,NULL,0,Transient,117.00,0,1,Canceled,2015-05-13
3298,0,2,2015,July,27,1,0,1,1,0,...,No Deposit,240,NULL,0,Transient,4.00,0,1,Check-Out,2015-07-02
3753,1,75,2015,July,27,1,0,3,2,0,...,No Deposit,15,NULL,0,Transient,105.50,0,0,Canceled,2015-04-22
3771,1,63,2015,July,27,3,0,2,2,0,...,No Deposit,240,NULL,0,Transient,82.00,0,2,Canceled,2015-06-18
3978,0,149,2015,July,27,1,2,5,2,0,...,No Deposit,156,NULL,0,Contract,55.68,0,0,Check-Out,2015-07-08
3997,0,69,2015,July,27,2,2,4,2,0,...,No Deposit,175,NULL,0,Transient,65.50,0,0,Check-Out,2015-07-08
4004,0,70,2015,July,27,2,2,3,2,0,...,No Deposit,250,NULL,0,Transient,137.00,0,1,Check-Out,2015-07-07
4223,0,93,2015,July,27,2,3,8,2,0,...,No Deposit,156,NULL,0,Contract,56.01,0,0,Check-Out,2015-07-13
4272,1,51,2015,July,27,3,0,2,3,0,...,No Deposit,242,NULL,0,Transient,110.30,0,0,Canceled,2015-06-09
5000,1,51,2015,July,27,4,0,1,1,0,...,No Deposit,240,NULL,0,Transient,105.00,0,0,Canceled,2015-05-29
5651,1,183,2015,July,27,4,4,10,2,1,...,No Deposit,NULL,NULL,0,Transient,130.00,0,1,Canceled,2015-05-19
5689,0,145,2015,July,27,1,2,5,2,0,...,No Deposit,115,NULL,0,Contract,82.35,0,0,Check-Out,2015-07-08
7061,1,62,2015,July,27,3,0,2,2,0,...,No Deposit,240,NULL,0,Transient,97.00,0,1,Canceled,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16435,0,171,2017,August,35,27,2,5,2,0,...,No Deposit,75,NULL,0,Transient,121.50,0,0,Check-Out,2017-09-03
16517,0,10,2017,August,35,31,0,2,2,0,...,No Deposit,240,NULL,0,Transient,175.00,0,2,Check-Out,2017-09-02
16521,1,74,2017,August,35,30,0,3,2,2,...,No Deposit,240,NULL,0,Transient,233.33,0,1,Canceled,2017-08-04
16734,0,85,2017,August,35,27,2,1,2,0,...,No Deposit,240,NULL,0,Transient,236.00,1,2,Check-Out,2017-08-30
16861,1,152,2017,August,35,28,1,3,2,0,...,No Deposit,95,NULL,0,Transient,141.00,0,0,Canceled,2017-07-03
17272,0,17,2017,August,35,31,0,3,2,0,...,No Deposit,240,NULL,0,Transient-Party,207.00,0,3,Check-Out,2017-09-03
17276,0,95,2017,August,35,28,1,5,2,1,...,No Deposit,11,NULL,0,Transient,176.25,0,1,Check-Out,2017-09-03
17294,1,237,2017,August,35,28,3,7,2,0,...,No Deposit,240,NULL,0,Transient,180.38,0,0,Canceled,2017-02-03
17382,1,29,2017,August,35,29,0,3,2,0,...,No Deposit,250,NULL,0,Transient,194.00,0,0,Canceled,2017-08-21
17384,0,19,2017,August,35,30,0,2,1,0,...,No Deposit,241,NULL,0,Transient,153.00,0,1,Check-Out,2017-09-01
17786,1,98,2017,August,35,30,0,3,2,0,...,No Deposit,240,NULL,0,Transient,210.00,0,1,Canceled,2017-08-11
17930,1,262,2017,August,35,30,2,8,3,0,...,No Deposit,250,NULL,0,Transient,189.42,0,0,Canceled,2017-02-22
18390,0,30,2017,August,35,31,0,2,2,0,...,No Deposit,241,NULL,0,Transient,142.00,0,4,Check-Out,2017-09-02
18446,1,51,2017,August,35,30,0,4,2,0,...,No Deposit,240,NULL,0,Transient,180.00,0,1,Canceled,2017-07-11
18659,0,0,2017,August,35,31,0,2,4,0,...,No Deposit,250,NULL,0,Transient,244.00,1,0,Check-Out,2017-09-02
18743,0,212,2017,August,35,31,2,8,2,1,...,No Deposit,143,NULL,0,Transient,89.75,0,0,Check-Out,2017-09-10
18807,1,8,2017,August,35,29,0,4,3,0,...,No Deposit,250,NULL,0,Transient,213.50,0,0,Canceled,2017-08-22
18815,1,14,2017,August,35,28,1,3,2,0,...,No Deposit,240,NULL,0,Transient,218.25,0,1,Canceled,2017-08-14
18824,1,175,2017,August,35,28,1,4,2,0,...,Refundable,240,NULL,0,Transient,230.00,0,2,Canceled,2017-08-26
18838,1,207,2017,August,35,30,2,4,2,0,...,No Deposit,240,NULL,0,Transient,152.33,0,1,Canceled,2017-02-17
18849,1,47,2017,August,35,27,2,3,1,1,...,No Deposit,242,NULL,0,Transient,253.80,0,1,Canceled,2017-07-28
18897,1,220,2017,August,35,27,1,0,2,0,...,No Deposit,251,NULL,0,Transient-Party,128.70,0,0,Canceled,2017-08-04
19168,1,92,2017,August,35,30,1,4,2,2,...,No Deposit,240,NULL,0,Transient,284.00,0,1,Canceled,2017-07-07
19318,1,98,2017,August,35,28,1,1,2,0,...,No Deposit,240,NULL,0,Transient,190.00,0,1,Canceled,2017-07-04
19320,1,120,2017,August,35,28,1,5,3,0,...,No Deposit,241,NULL,0,Transient,265.00,0,0,Canceled,2017-04-30
19419,1,63,2017,August,35,28,1,2,2,0,...,No Deposit,240,NULL,0,Transient,236.00,0,2,Canceled,2017-06-30
19471,1,59,2017,August,35,28,3,5,2,0,...,No Deposit,240,NULL,0,Transient,180.00,0,0,Canceled,2017-07-01
19532,1,20,2017,August,35,27,2,5,2,0,...,No Deposit,11,NULL,0,Transient,182.00,0,1,Canceled,2017-08-07
19666,0,56,2017,August,35,27,2,2,2,0,...,No Deposit,240,NULL,0,Transient-Party,262.00,0,3,Check-Out,2017-08-31
19725,0,18,2017,August,35,28,1,5,2,0,...,No Deposit,40,NULL,0,Group,135.00,0,2,Check-Out,2017-09-03

## Dependent variable (y). Cancellation by customer = 1, no cancellation by customer = 0.

In [3]:
IsCanceled = train_df['IsCanceled']
y = IsCanceled

## Features (or independent variables) hypothesised to influence hotel cancellations.

In [4]:
leadtime = train_df['LeadTime'] #1
staysweekendnights = train_df['StaysInWeekendNights'] #2
staysweeknights = train_df['StaysInWeekNights'] #3
adults = train_df['Adults'] #4
children = train_df['Children'] #5
babies = train_df['Babies'] #6
isrepeatedguest = train_df['IsRepeatedGuest'] #11
previouscancellations = train_df['PreviousCancellations'] #12
previousbookingsnotcanceled = train_df['PreviousBookingsNotCanceled'] #13
bookingchanges = train_df['BookingChanges'] #16
agent = train_df['Agent'] #18
company = train_df['Company'] #19
dayswaitinglist = train_df['DaysInWaitingList'] #20
adr = train_df['ADR'] #22
rcps = train_df['RequiredCarParkingSpaces'] #23
totalsqr = train_df['TotalOfSpecialRequests'] #24

## Categorical variables - variables that do not have an interval scale, e.g. 1-100.

### cat.codes is being used to define these categorical variables, as assigning a number to each variable without specifying that variable as a category will lead to Python treating each variable as interval.

In [5]:
mealcat=train_df.Meal.astype("category").cat.codes
mealcat=pd.Series(mealcat)
countrycat=train_df.Country.astype("category").cat.codes
countrycat=pd.Series(countrycat)
marketsegmentcat=train_df.MarketSegment.astype("category").cat.codes
marketsegmentcat=pd.Series(marketsegmentcat)
distributionchannelcat=train_df.DistributionChannel.astype("category").cat.codes
distributionchannelcat=pd.Series(distributionchannelcat)
reservedroomtypecat=train_df.ReservedRoomType.astype("category").cat.codes
reservedroomtypecat=pd.Series(reservedroomtypecat)
assignedroomtypecat=train_df.AssignedRoomType.astype("category").cat.codes
assignedroomtypecat=pd.Series(assignedroomtypecat)
deposittypecat=train_df.DepositType.astype("category").cat.codes
deposittypecat=pd.Series(deposittypecat)
customertypecat=train_df.CustomerType.astype("category").cat.codes
customertypecat=pd.Series(customertypecat)
reservationstatuscat=train_df.ReservationStatus.astype("category").cat.codes
reservationstatuscat=pd.Series(reservationstatuscat)

## All independent variables are stacked together using numpy.

In [6]:
x = np.column_stack((leadtime,staysweekendnights,staysweeknights,adults,children,babies,mealcat,countrycat,marketsegmentcat,distributionchannelcat,isrepeatedguest,previouscancellations,previousbookingsnotcanceled,reservedroomtypecat,assignedroomtypecat,bookingchanges,deposittypecat,dayswaitinglist,customertypecat,adr,rcps,totalsqr,reservationstatuscat))
x = sm.add_constant(x, prepend=True)

## The ExtraTreesClassifier is used to assess the importance of each feature in predicting hotel cancellations. The higher the value, the more important the variable is hypothesised to be.

In [7]:
from sklearn.ensemble import ExtraTreesClassifier
model = ExtraTreesClassifier()
model.fit(x, y)
print(model.feature_importances_)

[0.00000000e+00 1.89050158e-02 3.07011698e-03 3.79718729e-03
 2.23887371e-03 2.18611909e-03 3.69910647e-04 3.23892795e-03
 2.64885000e-02 1.68447950e-02 8.51588916e-03 8.31000207e-03
 3.95862221e-03 1.36135665e-03 8.55717447e-03 5.55767908e-03
 5.70356133e-03 3.52220830e-02 2.92386198e-04 1.49214184e-02
 5.46337713e-03 3.05836817e-02 6.49765945e-03 7.87915663e-01]

/home/michaeljgrogan/.local/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

## The variable number (left-hand column) is listed with the score in ascending order.

In [8]:
ext=pd.DataFrame(model.feature_importances_,columns=["extratrees"])
ext
ext.sort_values(['extratrees'], ascending=True)

    extratrees
0     0.000000
18    0.000292
6     0.000370
13    0.001361
5     0.002186
4     0.002239
2     0.003070
7     0.003239
3     0.003797
12    0.003959
20    0.005463
15    0.005558
16    0.005704
22    0.006498
11    0.008310
10    0.008516
14    0.008557
19    0.014921
9     0.016845
1     0.018905
8     0.026489
21    0.030584
17    0.035222
23    0.787916